@import "./variables.scss";

.cart-container {
    padding: 10px;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        width: 8px;
        border: none;
        background-color: $foo_color_1;
        border-radius: 24px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 6px;
        background-color: $foo_color_10;
    }
}

.cart-contain {
    width: 95%;
    margin: 20px auto;
    padding: 0 0 15px;
    border-bottom: 1px solid $foo_color_10;
    display: flex;
    gap: 15px;
}

.cart-article {
    width: 70%;
}

.cart-wish-name {
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    // color: $foo_color_6;
}

.cart-wish-cost {
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    // color: $foo_color_6;
}

.cart-count-contain {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.cart-count-btn {
    width: 50px;
    font-size: 18px;
    font-family: $font-family;
}

.cart-count {
    font-family: $font-family;
    text-align: center;
}