@import "./variables.scss";

@mixin menu-label {
    position: relative;
    width: max-content;
    padding: 5px;
    border-radius: 5px;
    font-family: $font-family;
    font-size: 10px;
}

.menu-container {
    margin: 10px 0;
    padding: 0 10px;
    height: calc(100vh - 70px - 40px);
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        width: 8px;
        border: none;
        background-color: $foo_color_1;
        border-radius: 24px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 6px;
        background-color: $foo_color_10;
    }
}

.category-main-title {
    font-family: $font-family;
    font-weight: 500;
    font-size: 18px;
}

.category-description {
    font-size: 14px;
    font-weight: 500;
    color: $foo_color_6;
    max-width: 100%;
}

.wishes-articles-contain {
    margin: 20px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.wishes-article {
    max-height: 210px;
    min-height: 210px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: calc((100vw - 10px - 32px) / 2);
}

.wishes-article-img-contain {
    overflow: hidden;
    height: 120px;
    width: 100%;
}

.wishes-article-img {
    object-fit: cover;
    height: 120px;
    width: 100%;
    transition: scale 200ms linear;
}

.wishes-article-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 90px;
    padding: 10px;
}

.wish-name {
    font-size: 12px;
    font-weight: 500;
    text-overflow: ellipsis;
    max-width: 100%;
    max-height: 36px;
    min-height: 36px;
    text-overflow: ellipsis;
    // white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
    // text-transform: uppercase;
    // text-align: center;
    // color: $foo_color_6;
}

.wish-description {
    font-size: 12px;
    font-weight: 500;
    color: $foo_color_6;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-height: 20px;
    max-width: 100%;
}

.wish-cost {
    width: 100%;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    background-color: $foo_color_2;
    border-radius: 12px;
    color: $foo_color_1;
}

.wish-quantity-buttons {
    width: 100%;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
    font-size: 12px;
    font-weight: 500;
}

.quantity-btn {
    height: 24px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    background-color: $foo_color_2;
    border-radius: 12px;
    color: $foo_color_1;
}

.dark {
    background-color: $foo_color_14;
}

.light {
    background-color: $foo_color_13;
}

.wish-modal-contain {
    width: 85vw;
}

.wish-modal-info-contain {
    padding: 10px;
}

.wish-modal-name {
    font-size: 14px;
    font-weight: 500;
    text-overflow: ellipsis;
    max-width: 100%;
}

.wish-modal-description {
    font-size: 12px;
    font-weight: 500;
    color: $foo_color_6;
    margin-bottom: 10px;
}

.wish-subtitle {
    font-size: 14px;
    font-weight: 500;
    color: $foo_color_6;
}

.options-contain {
    margin: 0 0 10px;
}

.category-btn-contain {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.category-title {
    font-size: 14px;
    font-weight: 500;
    // color: $foo_color_7;
    text-align: start;
    font-family: $font-family;
}

.category-btn {
    font-size: 16px;
    font-weight: 500;
    text-align: start;
    width: 100%;
    // color: $foo_color_6;
    font-family: $font-family;
}

.selected-category-btn {
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // color: $foo_color_7;
    font-family: $font-family;
}

.category-dropdown {
    width: calc(100%);
    z-index: 5;
    display: block;
    // position: absolute;
    // background-color: $foo_color_3;
    padding: 0 10px 10px;
    //box-shadow: 0px 5px 10px $foo_color_3;
}

.option-item {
    padding: 0 0 10px;
    font-size: 14px;
    font-weight: 500;
    // color: $foo_color_7;
    font-family: $font-family;

    &:hover {
        cursor: pointer;
    }
}

.option-cost {
    font-size: 12px;
    font-family: $font-family;
}

.save-btn {
    margin: 0 auto 10px;
    font-size: 16px;
    min-width: 80%;
    // width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid $foo_color_9;
    border-radius: 45px;
    padding: 8px;
    // color: $foo_color_7;
    font-family: $font-family;
}

.actions-btn {
    font-family: $font-family;
}

.quantity {
    text-align: center;
    font-family: $font-family;
}

.hidden {
    display: none;
}

.labels-contain {
    position: absolute;
    z-index: 3;
    display: flex;
    margin: 10px;
}

.hot-label {
    @include menu-label;

    color: $foo_color_1;
    background-color: $foo_color_7;

    &::before {
        content: '🔥 '
    }
}

.hit-label {
    @include menu-label;

    color: $foo_color_7;
    background-color: $foo_color_12;

    &::before {
        content: '💥 '
    }
}

.cart-btn {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 13px;
    border-top: 2px solid $foo_color_10;
    font-family: $font-family;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    z-index: 5;
}