@import "./variables.scss";

.contact-info-contain {
    width: 95%;
    margin-top: 15px;

    h4 {
        font-family: $font-family;
        font-weight: 500;
        font-size: 18px;
        padding: 0 10px;
        color: $foo_color_2;
    }
}

.contact-info-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    border-bottom: 1px solid $foo_color_10;
    font-family: $font-family;
}

.adress-p {
    font-family: $font-family;
    font-size: 16px;
    margin-top: 5px;
}

.today {
    background-color: $foo_color_10;
}