@import "./variables.scss";

.header-items {
    // position: fixed;
    width: 100%;
    height: 60px;
    display: flex;
    gap: 15px;
    padding: 15px 10px;
    overflow-y: hidden;
    overflow-x: scroll;
    flex-wrap: nowrap;
    z-index: 5;

    &::-webkit-scrollbar {
        width: 0px;
        height: 6px;
        border: none;
        background-color: $foo_color_1;
        border-radius: 24px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 6px;
        background-color: $foo_color_10;
    }
}

.header-light {
    background-color: $foo_color_1;

    .menu-title-btn {
        color: $foo_color_7;
    }

    .active-title {
        color: $foo_color_2;
    }
}

.header-dark {
    background-color: $foo_color_7;

    .menu-title-btn {
        color: $foo_color_1;
    }

    .active-title {
        color: $foo_color_2;
    }
}

.menu-title-btn {
    font-family: $font-family;
    margin: 0 5px;
    min-width: max-content;
}

.burgers {
    &::before {
        content: '🍔'
    }
}

.main-dishes {
    &::before {
        content: '🥘'
    }
}

.drinks {
    &::before {
        content: '☕'
    }
}

.pizza {
    &::before {
        content: '🍕'
    }
}

.snacks {
    &::before {
        content: '🥙'
    }
}


@media (max-width: 360px) {
    .header-items {
        padding: 15px 5px;
        gap: 10px;
    }
}
