@import "./variables.scss";

.container-login {
    width: 100%;
    height: 100vh;
    margin: auto;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
}

.login-contain {
    width: 350px;
    margin: 40px auto;
    padding: 40px;
    box-shadow: 0px 0px 20px $foo_color_6;
    border-radius: 15px;
}

.password {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    font-size: 18px;
    font-weight: 500;
    color: $foo_color_7;
}

.login-title {
    font-size: 18px;
    font-weight: 500;
    color: $foo_color_7;
}

.login-inp {
    outline: none;
    font-size: 20px;
    font-weight: 500;
    width: 100%;
    // border: 4px solid $foo_color_9;
    // border-radius: 25px;
    padding: 10px 0;
    color: $foo_color_7;
    display: flex;

    &::placeholder {
        color: $foo_color_6;
        font-family: 'Mont';
    }
}

.password-inp {
    outline: none;
    font-size: 20px;
    font-weight: 500;
    width: 100%;
    padding: 10px 0;
    color: $foo_color_7;
    display: flex;

    &::placeholder {
        color: $foo_color_6;
        font-family: 'Mont';
    }
}

.login-btn {
    margin: 40px auto 0;
    font-size: 20px;
    min-width: 100%;
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid $foo_color_9;
    border-radius: 25px;
    padding: 10px;
    color: $foo_color_7;
}

.show-icon {
    content: url('@/images/show.svg');
    width: 25px;
}

.forgot-password {
    font-size: 14px;
    color: $foo_color_7;
}

@media (max-width: 500px) {
    .login-contain {
        width: 300px;
    }

    .login-title,
    .password {
        font-size: 14px;
    }

    .forgot-password {
        font-size: 12px;
    }

    .login-inp,
    .password-inp,
    .login-btn {
        font-size: 16px;
    }
}