@import "./variables.scss";

.order-item {
    font-family: $font-family;
    padding: 0 10px;
}

.order-contain {
    h4 {
        font-family: $font-family;
        font-weight: 500;
        font-size: 18px;
        padding: 0 10px;
        color: $foo_color_2;
    }

    border-bottom: 1px solid $foo_color_10;
}

.order-inp {
    font-family: $font-family;
    padding: 10px;
    outline: none;
}

.order-result-item {
    font-family: $font-family;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
}