@import "./variables.scss";

.profile-row-contain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $foo_color_10;
}

.profile-row {
    font-family: $font-family;
    margin: 10px 0;
}