@import "./variables.scss";

.order-contain {
    width: 95%;
    margin: 10px auto;
    padding: 10px;
    border-bottom: 1px solid $foo_color_10;
    h3 {
        font-family: $font-family;
        font-weight: 500;
        font-size: 18px;
        color: $foo_color_2;
    }
}

.order-subtitle {
    font-family: $font-family;
    font-size: 16px;
    margin-top: 10px;
}

.order-item-contain {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: $font-family;
    font-size: 16px;
    margin: 10px ;
}

.delivery-contain {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: $font-family;
    font-size: 16px;
    margin: 10px 10px 0;
}

.no-orders-block {
    font-family: $font-family;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 30px 0;
}