<!DOCTYPE html>
<html lang=''>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width,initial-scale=1.0'>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=no, maximum-scale=1.0">
    <link rel='icon' href='<%= BASE_URL %>favicon.ico'>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <script src='https://telegram.org/js/telegram-web-app.js'></script>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=66778f35-2fac-47df-9534-ae2a251e0996&suggest_apikey=25321d16-1d1d-4a2a-997a-2ed207aec30a" type="text/javascript"></script>
    <script src="https://yandex.st/jquery/2.2.3/jquery.min.js" type="text/javascript"></script>
</head>
<body>
<noscript>
    <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled.
        Please enable it to continue.</strong>
</noscript>
<div id='app'></div>
<!-- built files will be auto injected -->
</body>
</html>
