<template>
    <svg class='icon' width="20" height="12" viewBox="0 0 20 12" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M18.3945 0.27344L19.4897 1.16431L11.9371 11.6404L8.06275 11.6404L7.17675 10.4121L11.0762 10.4121L18.3945 0.27344Z" />
        <path d="M1.60544 0.273437L0.522331 1.16431L5.78518 8.48088L7.52972 8.48088L1.60544 0.273437Z" />
    </svg>
</template>

<script>
export default {
    name: 'DownSVGComponent',
}
</script>

<style scoped>
.icon {
    width: 30px;
}

.violet {
    fill: #7410d0
}
.white {
    fill: #e4dcec
}

</style>