<template>
    <svg class="success-svg"
        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" role="img" aria-hidden="true">
        <path d="M12,2C17.52,2 22,6.48 22,12C22,17.52 17.52,22 12,22C6.48,22 2,17.52 2,12C2,6.48 6.48,2 12,2M11,16.5L18,9.5L16.59,8.09L11,13.67L7.91,10.59L6.5,12L11,16.5Z"></path>
    </svg>
</template>

<script>
export default {
   name: 'SuccessSVGComponent',
}
</script>

<style scoped>
.success-svg {
    width: 30px;
    fill: #01ef01
}

.small {
    width: 20px;
}
</style>