<template>
    <svg class="icon" width="20" height="12" viewBox="0 0 20 12" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M18.3945 11.6406L19.4897 10.7498L11.9371 0.27364L8.06275 0.273641L7.17675 1.50194L11.0762 1.50194L18.3945 11.6406Z"
           />
        <path d="M1.60544 11.6406L0.522331 10.7498L5.78518 3.43318L7.52972 3.43318L1.60544 11.6406Z" />
    </svg>
</template>

<script>
export default {
    name: 'UpSVGComponent',
}
</script>

<style scoped>
.icon {
    width: 30px;
}

.violet {
    fill: #7410d0
}

.white {
    fill: #e4dcec
}
</style>