<template>
  <v-app app>
    <v-card class='mt-3 mr-3'>
      <v-layout>
        <v-navigation-drawer
            v-model='drawer'
            :rail='rail'
            permanent
            @click='rail = false'
            app
        >
          <v-list-item
              :prepend-avatar='userImageData'
              :title='username'
              nav
          >
            <template v-slot:append>
              <v-btn
                  variant='text'
                  icon='$arrow'
                  @click.stop='rail = !rail'
              >
              </v-btn>
            </template>
          </v-list-item>

          <v-list density='compact' nav>
            <v-list-item @click.prevent='showCustomers()' prepend-icon='$people' title='Клиенты'
                         value='customers'></v-list-item>
            <v-list-item @click.prevent='showOrders()' prepend-icon='$orders' title='Заказы' value='orders'></v-list-item>

            <v-list-group value='Goods'>
              <template v-slot:activator='{ props }'>
                <v-list-item
                    v-bind='props'
                    title='Товары'
                    prepend-icon='$goods'
                ></v-list-item>
              </template>

              <v-list-item prepend-icon='$food' title='Списки товаров'></v-list-item>
              <v-list-item @click.prevent='showCategory()' prepend-icon='$category' title='Категории'></v-list-item>
            </v-list-group>

            <v-list-group value='Settings'>
              <template v-slot:activator='{ props }'>
                <v-list-item
                    v-bind='props'
                    title='Настройки'
                    prepend-icon='$setting'
                ></v-list-item>
              </template>

              <v-list-item prepend-icon='$commonSetting' title='Общие'></v-list-item>
              <v-list-item prepend-icon='$sections' title='Разделы'></v-list-item>
            </v-list-group>

          </v-list>
        </v-navigation-drawer>
        <v-main style='height: auto'>
          <UsersTable v-if='customers' @getSelectedUserId='handleSelectedUserId'/>
          <UserProfile v-if='user' @pushBack='handlePushBack'/>
          <OrdersTable v-if='orders' @pushToUserOrderCard='handlePushToUserOrderCard'/>
          <UserOrderCard v-if='userOrderCardId' :id='userOrderCardId'/>
          <CategoryList v-if='categories'/>
        </v-main>
      </v-layout>
    </v-card>
  </v-app>
</template>

<script>
import api from '@/api';
import UsersTable from '@/components/UsersTable.vue'
import UserProfile from '@/components/UserProfile.vue'
import OrdersTable from '@/components/OrdersTable.vue'
import UserOrderCard from '@/components/UserOrderCard.vue';
import CategoryList from '@/components/CategoryList.vue'

export default {
  name: 'adminDashboard',
  components: {
    UsersTable,
    UserProfile,
    OrdersTable,
    UserOrderCard,
    CategoryList
  },
  data() {
    return {
      api_url: process.env.VUE_APP_API_URL,
      drawer: true,
      rail: true,
      items: ['Списки товаров', 'Категории'],
      username: '',
      userImageData: '',
      customers: false,
      user: false,
      orders: true,
      userOrderCardId: null,
      categories: false
    }
  },
  methods: {
    convertInImage(data) {
      return 'data:image/jpg;base64,' + data;
    },
    showCustomers() {
      if (this.user) {
        this.customers = !this.customers;
        this.showUserPage();
      } else {
        this.customers = true;
      }
      this.orders=false;
      this.userOrderCardId = false;
    },
    showUserPage() {
      this.user = !this.user;
    },
    handleSelectedUserId() {
      this.customers = false
      this.showUserPage()
    },
    handlePushBack() {
      this.showUserPage()
      this.customers = true;
    },
    showOrders() {
      this.customers = false;
      this.user = false;
      this.orders = true;
      this.userOrderCardId = false;
    },
    handlePushToUserOrderCard(id) {
      this.userOrderCardId = id;
      this.orders = false
    },
    showCategory() {
      this.customers = false;
      this.user = false;
      this.orders = false;
      this.userOrderCardId = false;
      this.categories = true;
    },
  },
  mounted() {
    const userId = JSON.parse(localStorage.getItem('access_token')).id
    api.get(`${this.api_url}/api/users/${userId}`)
        .then(response => {
          this.username = response.data.name;
          this.userImageData = this.convertInImage(response.data.userImageData);
        })
        .catch(error => {
          console.log(error)
        })
  }
}
</script>

<style scoped>

</style>