<template>
  <div class="cart-container">
    <div class="cart-contain" v-for='wish in getCart' :key='wish.id'>
      <div class="cart-img-contain">
        <v-avatar rounded='shaped' size='80'>
          <v-img :src='convertInImage(wish.wishImageData)' cover></v-img>
        </v-avatar>
      </div>

      <div class="cart-article">
        <div>
          <div class="cart-wish-name">{{ wish.name }}</div>
          <div class="cart-wish-cost">{{ (wish.cost + (wish.selectedOptions ? wish.selectedOptions.reduce((sum, option) =>
            sum + option.optionCost, 0) : 0)) * wish.quantity }} ₽</div>
          <v-card-subtitle v-if='wish.availableForDelivery === false'>Блюдо недоступно для доставки</v-card-subtitle>
          <v-card-subtitle v-for='option in wish.selectedOptions' :key='option.id'>+
            {{ option?.optionName }}</v-card-subtitle>
        </div>

        <div class="cart-count-contain">
          <div>
            <button class="cart-count-btn" @click='decrementQuantity(wish)'>-</button>
          </div>
          <div>
            <div class="cart-count">{{ getQuantity(wish) }}</div>
          </div>
          <div>
            <button class="cart-count-btn" @click='incrementQuantity(wish)'>+</button>
          </div>
        </div>
      </div>
    </div>

    <button class="save-btn" block rounded='xl' size='x-large' @click='goOrder'>
      Оформить заказ
    </button>
  </div>
</template>

<script>
import { routers } from '@/routes';

export default {
  name: 'cart_page',
  computed: {
    getCart() {
      return this.$store.getters.getCart
    },
  },
  async mounted() {
    window.Telegram.WebApp.ready();
    window.Telegram.WebApp.expand();
  },
  methods: {
    convertInImage(data) {
      return 'data:image/jpg;base64,' + data;
    },
    getQuantity(wish) {
      return this.$store.state.selectedWishes[wish.id] || 0;
    },
    incrementQuantity(wish) {
      this.$store.dispatch('incrementQuantity', wish);
    },
    decrementQuantity(wish) {
      this.$store.dispatch('decrementQuantity', wish);
    },
    goOrder() {
      routers.push({ name: 'Order' })
    },
  }
}
</script>

<style scoped></style>