<template>
  <div class="cart-container">
    <YandexMap :coordinates='coords' :zoom='15' style='width: 100%; height: 300px'>
      <YandexMarker :coordinates='coords' marker-id='123' hint-content='TATBIT' />
    </YandexMap>
    <p class='adress-p'>г. Казань, ул. Ю. Фучика, 90а</p>
    <div class="contact-info-contain">
      <h4>Контактная информация</h4>
      <div class='contact-info-item'>
        <div>Телефон</div>
        <div>+7(917)235-74-20</div>
      </div>
      <div class='contact-info-item'>
        <div>Телеграм</div>
        <div @click='chatMe()'>@ProtoBufBot</div>
      </div>
      <div class='contact-info-item'>
        <div>Вконтакте</div>
        <div>Tatchat</div>
      </div>
      <div class='contact-info-item'>
        <div>Вебсайт</div>
        <div>https://tatchat.ru/</div>
      </div>
      <div class='contact-info-item'>
        <div>Почта</div>
        <div>info@tatchat.ru</div>
      </div>
    </div>

    <div class="contact-info-contain">
      <h4>Прием заказов осуществляется</h4>
      <div v-for='(row, index) in mode' :key='row.id' class='contact-info-item'
      :class="{'today': index === today - 1}">
        <div>{{ row.day }}</div>
        <div>{{ row.time }}</div>
      </div>
    </div>
  </div>
</template>
<script>
import { YandexMap, YandexMarker } from 'vue-yandex-maps'
import axios from 'axios';
import { useTheme } from 'vuetify';

export default {
  name: 'contacts_page',
  components: {
    YandexMap,
    YandexMarker
  },
  data() {
    return {
      api_url: process.env.VUE_APP_API_URL,
      coords: [
        55.763361, 49.234963
      ],
      mode: [
        {
          id: 1,
          day: 'Понедельник',
          time: '00:00 - 23:59'
        },
        {
          id: 2,
          day: 'Вторник',
          time: '00:00 - 23:59'
        },
        {
          id: 3,
          day: 'Среда',
          time: '00:00 - 23:59'
        },
        {
          id: 4,
          day: 'Четверг',
          time: '00:00 - 23:59'
        },
        {
          id: 5,
          day: 'Пятница',
          time: '00:00 - 23:59'
        },
        {
          id: 6,
          day: 'Суббота',
          time: '00:00 - 23:59'
        },
        {
          id: 7,
          day: 'Воскресенье',
          time: '00:00 - 23:59'
        },
      ],
      today: ''
    }
  },
  methods: {
    chatMe() {
      const url = `https://t.me/ProtoBufBot`
      window.open(url, '_blank')
    },
  },
  async mounted() {
    window.Telegram.WebApp.expand();

    const date = new Date(); 
    this.today = date.getDay();

    const theme = useTheme();
    theme.global.name.value = window.Telegram.WebApp.colorScheme === 'dark' ? 'dark' : 'light'

    await axios.post(`${this.api_url}/api/statistics/collect`, {
      userId: window.Telegram.WebApp.initDataUnsafe.user.id,
      event: 'CONTACT_CLICK'
    })
      .then(response => console.log(response))
      .catch(error => console.log(error));
  }
}
</script>


<style scoped></style>