<template>
  <div class="container-login" v-on:keyup.enter="login">
    <v-row>
      <authHeader/>
    </v-row>
    <div class="login-contain">
      <div class="login-title">Аккаунт</div>
      <input class="login-inp" required placeholder="Введите логин" v-model='username'>

      <div class="password">
        Пароль
        <!-- <router-link class='forgot-password' target='_blank' to='/reset'>
          Забыли пароль?</router-link> -->
      </div>
      <div class="login-inp">
        <input type="password" required placeholder="Введите пароль" id="password-inp" class="password-inp"
          @click:append-inner='visible = !visible' v-model='password'>
        <div v-on:click="showPassword" class="show-icon"></div>
      </div>

      <v-card class='mb-12' color='#FF5252' variant='tonal' v-if='isDanger'>
        <v-card-text class="text-medium-emphasis text-caption">
          {{ errorMessage }}
        </v-card-text>
      </v-card>

      <button block class='login-btn' @click.prevent='loading = !loading; login()' :loading='loading' :disabled='loading'>
        Войти
      </button>

      <v-card-text class='text-center'>
        Нет аккаунта? <router-link to='/register' class='forgot-password'>Зарегистрироваться</router-link>
      </v-card-text>
    </div>
  </div>

  <!-- <v-container>
    <v-row v-if='isDanger'>
      <v-alert
          color='error'
          title='Ошибка'
          :text='errorMessage'
      ></v-alert>
    </v-row>
    <v-row>
      <authHeader/>
    </v-row>
    <v-row>
      <v-sheet width='300' class='mx-auto'>
        <v-form fast-fail>
          <v-text-field
              v-model='username'
              label='Username'
              type='text'
          ></v-text-field>

          <v-text-field
              v-model='password'
              label='Password'
              type='password'
          ></v-text-field>

          <v-btn
              type='submit'
              block
              class='mt-2'
              :disabled='loading'
              :loading='loading'
              @click='loading = !loading; login()'
          >Войти
          </v-btn>
        </v-form>
        <div class='text-center mt-1'>
          Нет аккаунта? <router-link class='text-decoration-none' to='/register'>Зарегистрируйтесь</router-link>
        </div>
      </v-sheet>
    </v-row>
  </v-container> -->
</template>

<script>
import axios from 'axios';
import authHeader from '@/components/AuthHeader.vue'
import {routers} from '@/routes';

export default {
  name: 'login_page',
  components: {
    authHeader
  },
  data() {
    return {
      username: '',
      password: '',
      loading: false,
      isDanger: false,
      errorMessage: ''
    }
  },
  mounted() {
    window.Telegram.WebApp.ready();
    const id = window.Telegram.WebApp.initDataUnsafe.user.id
    this.$store.dispatch('setUserId', id);
    // this.$store.dispatch('setUserId', 200157344);
  },
  watch: {
    loading(val) {
      if (!val) return

      setTimeout(() => (this.loading = false), 2000)
    },
  },
  methods: {
    async login() {
      const userData = {
        username: this.username,
        password: this.password
      };

        await axios.post('http://localhost:8080/api/auth/signin', userData)
            .then(response => {
              this.username = ''
              this.password = ''
              localStorage.setItem('access_token', JSON.stringify(response.data))
              setTimeout(() => (routers.push('/dashboard'), 1500))
            })
            .catch(error => {
              setTimeout(() => (this.errorMessage = error.response.data.message), 2000);
              setTimeout(() => (this.isDanger = true), 2000);
              this.username = ''
              this.password = ''
              setTimeout(() => (this.isDanger = false), 10000);
            });
    },
    showPassword() {
      var x = document.getElementById("password-inp");
      if (x.type === "password") {
        x.type = "text";
      } else {
        x.type = "password";
      }
    }
  }
}
</script>

<style scoped>
</style>