<template>
  <v-app>

    <menu-header />

    <div class="menu-container">
      <div :id='menu.id' v-for='menu in getMenu' :key='menu.id'>
        <h4 class="category-main-title" v-if="menu.wishes.length > 0">{{ menu.name }}</h4>
        <div class="category-description">{{ menu.description }}</div>
        <category :menu='menu' />
      </div>
    </div>

    <div class="cart-btn" :class="{ 'light': color === 'light', 'dark': color === 'dark' }">
      <button block @click='goCart'>
        В корзину
      </button>
    </div>

  </v-app>
</template>

<script>
import axios from 'axios';
import Category from '@/components/Category.vue';
import MenuHeader from '@/components/Header.vue';
import { useTheme } from 'vuetify';
import { routers } from '@/routes';

export default {
  name: 'menu_page',
  components: {
    Category,
    MenuHeader
  },
  data() {
    return {
      api_url: process.env.VUE_APP_API_URL,
      color: 'light',
      categoriesQuantity: 0,
    }
  },
  methods: {
    goCart() {
      if (this.cart.length > 0) {
        routers.push({ name: 'Cart' })
        var BackButton = window.Telegram.WebApp.BackButton;
        BackButton.show();
        BackButton.onClick(function () {
          routers.go(-1)
          BackButton.hide();
        });
      }
    }
  },
  computed: {
    getMenu() {
      return this.$store.state.menu;
    },
    cart() {
      return this.$store.getters.getCart;
    },
  },
  async mounted() {
    window.Telegram.WebApp.ready();
    window.Telegram.WebApp.enableClosingConfirmation();
    window.Telegram.WebApp.expand();
    const id = window.Telegram.WebApp.initDataUnsafe.user.id
    this.$store.dispatch('setUserId', id);


    const theme = useTheme();
    theme.global.name.value = window.Telegram.WebApp.colorScheme === 'dark' ? 'dark' : 'light'
    this.color = window.Telegram.WebApp.colorScheme === 'dark' ? 'dark' : 'light'

    await axios.get(`${this.api_url}/api/users/${id}`)
      .then(response => {
        this.$store.dispatch('setUserBonusPoints', response.data.bonusPoints);
      })
      .catch(error => {
        console.log(error)
      })

    await axios.get(`${this.api_url}/api/categories/paged?page=0&size=1`)
      .then(response => {
        this.$store.dispatch('setMenu', response.data.content)
      })
      .catch(error => {
        console.log(error)
      })

    await axios.get(`${this.api_url}/api/categories/names`)
      .then(response => {
        this.categoriesQuantity = response.data.length
        this.$store.dispatch('setCategoryNames', response.data)
      })
      .catch(error => {
        console.log(error)
      })


    await axios.post(`${this.api_url}/api/statistics/collect`, {
      userId: id,
      event: 'MENU_CLICK'
    })
      .then(response => console.log(response))
      .catch(error => console.log(error));
  },
  watch: {
    categoriesQuantity() {
      axios.get(`${this.api_url}/api/categories/left`)
        .then(response => {
          this.$store.dispatch('concatMenu', response.data)
        })
        .catch(error => {
          console.log(error)
        })
    },
    getMenu: {
      handler(getMenu) {
        console.log(getMenu)
      }
    }
  },
}
</script>

<style scoped></style>
