<template>
  <div class="cart-container" v-on:click.stop.prevent="blurPhone">
    <v-container>
      <div v-if='isWishesWithoutDelivery.length === 2' class='order-item'>Есть блюда недоступные для доставки
      </div>
      <div class='order-contain'>
        <h4>Способ получения заказа </h4>
        <v-item-group selected-class='bg-primary' mandatory>
          <v-container>
            <v-row>
              <v-col v-for='option in isWishesWithoutDelivery' :key='option.id' cols='12' class='pa-0'>
                <v-item v-slot='{ isSelected, selectedClass, toggle }'>
                  <v-card :class="['d-flex align-center', selectedClass]" dark height='50' @click='toggle'
                    @click.prevent='selectDeliveryOption(option)' flat>
                    <div class='order-item'>
                      {{ isSelected ? option.russianName : option.russianName }}
                    </div>
                  </v-card>
                </v-item>
              </v-col>
            </v-row>
          </v-container>
        </v-item-group>
      </div>
    </v-container>


    <v-container>
      <div class='order-contain'>
        <h4>
          Способ оплаты
        </h4>
        <v-item-group selected-class='bg-primary' mandatory>
          <v-container>
            <v-row>
              <v-col v-for='option in paymentOption' :key='option.id' cols='12' class='pa-0'>
                <v-item v-slot='{ isSelected, selectedClass, toggle }'>
                  <v-card :class="['d-flex align-center', selectedClass]" dark height='50' @click='toggle'
                    @click.prevent='selectPaymentOption(option)' flat>
                    <div class='order-item'>
                      {{ isSelected ? option.russianName : option.russianName }}
                    </div>
                  </v-card>
                </v-item>
              </v-col>
            </v-row>
          </v-container>
        </v-item-group>
      </div>
    </v-container>

    <v-container>
      <div class='order-contain'>
        <h4>
          Бонусы
        </h4>

        <v-item-group selected-class='bg-primary'>
          <v-container>
            <v-row>
              <v-col cols='12' class='pa-0'>
                <v-item v-slot='{ isSelected, selectedClass, toggle }'>
                  <v-card :class="['d-flex align-center', selectedClass]" dark height='50' @click='toggle'
                    @click.prevent='activateBonus()' flat>
                    <div class='order-item'>
                      {{ isSelected ? `${isBonusPayment}` : `${isBonusPayment}` }}
                    </div>
                  </v-card>
                </v-item>
              </v-col>
            </v-row>
          </v-container>
        </v-item-group>
      </div>
    </v-container>

    <v-container>
      <div class='order-contain'>
        <h4>
          Информация
        </h4>

        <v-sheet class='mx-auto'>
          <v-form fast-fail @submit.prevent>
            <input class="order-inp" v-model='phoneNumber' placeholder='Номер телефона' :rules='phoneNumberRules'
              type="phone" id="phone" @click.stop>

            <input class="order-inp" v-model='deliveryAddress' placeholder='Адрес доставки' :rules='deliveryAddressRules'
              v-if='selectedDeliveryOption?.id === 3' id='suggest'>

            <input class="order-inp" v-model='tableNumber' placeholder='Номер столика' :rules='tableNumberRules'
              v-if='selectedDeliveryOption?.id === 2'>
          </v-form>
        </v-sheet>
      </div>
    </v-container>

    <v-container>
      <div class='order-contain'>
        <h4>
          Сводка
        </h4>

        <div>
          <div class="order-result-item">
            <div>Сумма</div>
            <div>{{ orderTotalSum }}</div>
          </div>
          <div v-if='useBonusPoints' class="order-result-item">
            <div>Оплата бонусами</div>
            <div>{{ Math.ceil(orderTotalSum * 0.1) }}</div>
          </div>
          <div class="order-result-item">
            <div>Итого</div>
            <div>{{ finalTotalSum }}</div>
          </div>
        </div>
      </div>
    </v-container>

    <v-container v-if='isButtonVisible'>
      <button @click='send' class="save-btn">Заказать</button>
    </v-container>
  </div>
</template>

<script>
import axios from 'axios';
import { routers } from '@/routes';
import { loadYmap } from 'vue-yandex-maps';

export default {
  name: 'order_page',

  data() {
    return {
      showMessage: false,
      selectedDeliveryOption: null,
      paymentOption: [
        {
          'id': 1,
          'russianName': 'Онлайн',
          'name': 'ONLINE',
        },
        {
          'id': 2,
          'russianName': 'Наличные',
          'name': 'CASH',
        },
        {
          'id': 3,
          'russianName': 'Картой',
          'name': 'CARD',
        },
      ],
      selectedPaymentOption: null,
      useBonusPoints: false,
      phoneNumber: '',
      phoneNumberRules: [
        value => {
          if (value?.length > 10) return true

          return 'Не похоже на номер телефона'
        },
      ],
      deliveryAddress: '',
      deliveryAddressRules: [
        value => {
          if (value?.length > 0) return true

          return 'Не похоже на адрес доставки'
        },
      ],
      tableNumber: '',
      tableNumberRules: [
        value => {
          if (value?.length > 0) return true

          return 'Не похоже на номер стола'
        },
      ],
      sumWithDiscount: 0,
      api_url: process.env.VUE_APP_API_URL,
      organizationCoords: [],
      roadPrice: 0
    };
  },
  watch: {
    deliveryAddress(newVal) {
      window.ymaps.geocode(newVal)
        .then(res => {
          const destCoords = res.geoObjects.get(0).geometry._coordinates;
          let distance = window.ymaps.coordSystem.geo.getDistance(this.organizationCoords, destCoords);
          this.roadPrice = distance / 1000 * this.organizationCoords[2];
        })
    },

    selectedDeliveryOption() {
      if (this.selectedDeliveryOption?.id !== 3) {
        this.deliveryAddress = '';
      }
    },
  },
  methods: {
    init() {
      new window.ymaps.SuggestView('suggest');
    },
    selectDeliveryOption(option) {
      this.selectedDeliveryOption = option;
    },

    selectPaymentOption(option) {
      this.selectedPaymentOption = option
    },
    activateBonus() {
      if (this.$store.getters.getUserBonusPoints > this.orderTotalSum * 0.1) {
        this.useBonusPoints = !this.useBonusPoints
      }
    },
    async send() {
      let body = {
        orderReceive: this.selectedDeliveryOption.name,
        paymentMethod: this.selectedPaymentOption.name,
        orderStatus: 'NEW_ORDER',
        phoneNumber: this.phoneNumber,
        deliveryAddress: this.deliveryAddress,
        tableNumber: this.tableNumber,
        bonusPayment: this.useBonusPoints,
        userId: window.Telegram.WebApp.initDataUnsafe.user.id,
        wishes: this.$store.getters.getCart,
        createdAt: null,
        updatedAt: null,
        roadPrice: 0
      }

      if (document.getElementById('suggest')?.value && this.organizationCoords.length !== 0) {
        let request = document.getElementById('suggest').value;
        await window.ymaps.geocode(request)
          .then(res => {
            const destCoords = res.geoObjects.get(0).geometry._coordinates;
            let distance = window.ymaps.coordSystem.geo.getDistance(this.organizationCoords, destCoords);

            body.roadPrice = Math.ceil(distance / 1000 * this.organizationCoords.at(2));
            this.roadPrice = Math.ceil(distance / 1000 * this.organizationCoords.at(2));
          })
          .catch(error => console.log(error))
      }

      await axios.post(`${this.api_url}/api/orders`, body)
        .then(() => {
          if (this.useBonusPoints) {
            this.$store.dispatch('setUserBonusPoints', this.$store.getters.getUserBonusPoints - this.sumWithDiscount)
          }
          routers.push({ name: 'Menu' })
        })
        .catch(e => {
          console.log(e);
        });

      await axios.post(`${this.api_url}/api/statistics/collect`, {
        userId: this.$store.getter.getUserId,
        event: 'ORDER_CLICK'
      })
        .catch(error => console.log(error));
    },
    blurPhone() {
      document.getElementById('phone').blur()
    }
  },
  computed: {
    isWishesWithoutDelivery() {
      if (this.$store.getters.isWishesWithoutDelivery.length === 0) {
        return [
          {
            'id': 1,
            'russianName': 'Самовывоз',
            'name': 'PICKUP',
          },
          {
            'id': 2,
            'russianName': 'В заведении',
            'name': 'LOCAL',
          },
          {
            'id': 3,
            'russianName': 'Доставка',
            'name': 'DELIVERY',
          }
        ]
      } else {
        return [
          {
            'id': 1,
            'russianName': 'Самовывоз',
            'name': 'PICKUP',
          },
          {
            'id': 2,
            'russianName': 'В заведении',
            'name': 'LOCAL',
          },
        ]
      }
    },
    orderTotalSum() {
      if (typeof this.roadPrice === 'number' && this.selectedDeliveryOption?.id === 3) {
        return Math.ceil(this.$store.getters.getTotalSum + this.roadPrice);
      }

      return Math.ceil(this.$store.getters.getTotalSum)
    },
    isBonusPayment() {
      const isDiscountAllowed = this.orderTotalSum * 0.1 <= this.$store.getters.getUserBonusPoints;
      if (isDiscountAllowed) {
        // eslint-disable-next-line vue/no-side-effects-in-computed-properties
        this.sumWithDiscount = Math.ceil(this.orderTotalSum * 0.1);
        return `Списать бонусы ${Math.ceil(this.orderTotalSum * 0.1)} ₽`;
      } else {
        return 'Недостаточно бонусов';
      }
    },
    finalTotalSum() {
      if (this.useBonusPoints) {
        return Math.ceil(this.orderTotalSum - this.sumWithDiscount);
      }
      return Math.ceil(this.orderTotalSum);
    },
    isButtonVisible() {
      if (this.selectedDeliveryOption?.id === 1) {
        return !!this.phoneNumber;
      } else if (this.selectedDeliveryOption?.id === 3) {
        return !!this.phoneNumber && !!this.deliveryAddress;
      } else if (this.selectedDeliveryOption?.id === 2) {
        return !!this.phoneNumber && !!this.tableNumber;
      } else {
        return false;
      }
    }
  },
  async mounted() {
    window.Telegram.WebApp.ready();
    const settings = {
      apiKey: '66778f35-2fac-47df-9534-ae2a251e0996',
      lang: 'ru_RU',
      coordorder: 'latlong',
      debug: true,
      version: '2.1'
    };
    await loadYmap(settings);

    await axios.get(`${this.api_url}/api/setting/getSetting`)
      .then(response => {
        let addressCoordinates = '';
        addressCoordinates = response.data.addressCoordinates;
        let strings = addressCoordinates.split(', ');
        this.organizationCoords.push(strings[0])
        this.organizationCoords.push(strings[1])
        this.organizationCoords.push(response.data.roadPrice)
      })
  }
};
</script>

<style></style>