<template>
  <v-container class='justify-center flex-wrap'>
    <v-row class='justify-center pa-3'>
      <v-avatar :image='imageData' size='180'/>
    </v-row>
    <v-container>
      <v-row class='profile-row-contain'>
        <div class="profile-row">Имя</div>
        <div class="profile-row" >{{ name }}</div>
      </v-row>

      <v-row class='profile-row-contain'>
        <div class="profile-row">ID</div>
        <div class="profile-row" >{{ id }}</div>
      </v-row>
      <v-row class='profile-row-contain'>
        <div class="profile-row">Количество заказов</div>
        <div class="profile-row" >{{ ordersQuantity }} шт</div>
      </v-row>
      <v-row class='profile-row-contain'>
        <div class="profile-row">Бонусные баллы</div>
        <div class="profile-row" >{{ bonusPoints }} ₽</div>
      </v-row>
    </v-container>
  </v-container>
</template>

<script>
import axios from 'axios';
import { useTheme } from 'vuetify'

export default {
  name: 'profile_page',
  data() {
    return {
      api_url: process.env.VUE_APP_API_URL,
      imageData: null,
      name: null,
      ordersQuantity: null,
      bonusPoints: null,
      id: null
    }
  },
  async mounted() {
    window.Telegram.WebApp.ready();
    window.Telegram.WebApp.expand();
    const id = window.Telegram.WebApp.initDataUnsafe.user.id
    this.$store.dispatch('setUserId', id);

    const theme = useTheme();
    theme.global.name.value = window.Telegram.WebApp.colorScheme === 'dark' ? 'dark' : 'light'

    await axios.post(`${this.api_url}/api/statistics/collect`, {
      userId: id,
      event: 'PROFILE_CLICK'
    })
        .catch(error => console.log(error));

    await axios.get(`${this.api_url}/api/orders/quantity/${id}`)
        .then(response => {
          this.ordersQuantity = response.data
        })
        .catch(error => {
          console.log(error)
        })

    await axios.get(`${this.api_url}/api/users/${id}`)
        .then(response => {
          this.imageData = 'data:image/jpg;base64,' + response.data.userImageData;
          this.name = response.data.name;
          this.bonusPoints = response.data.bonusPoints;
          this.id = response.data.id;
          this.$store.dispatch('setUserBonusPoints', response.data.bonusPoints);
        })
        .catch(error => {
          console.log(error)
        })
  }

}
</script>

<style scoped>

</style>