<template>
  <v-container>
    <v-row v-if='isDanger'>
      <v-alert
          color='error'
          title='Ошибка'
          :text='errorMessage'
      ></v-alert>
    </v-row>
    <v-row>
      <authHeader/>
    </v-row>
    <v-row>
      <v-sheet width='300' class='mx-auto'>
        <v-form fast-fail @submit.prevent='register'>
          <v-text-field
              v-model='username'
              label='Username'
              :rules='usernameRules'
              type='text'
          ></v-text-field>

          <v-text-field
              v-model='email'
              label='Email'
              :rules='emailRules'
              type='email'
          ></v-text-field>

          <v-text-field
              v-model='password'
              label='Password'
              :rules='passwordRules'
              type='password'
          ></v-text-field>

          <v-text-field
              v-model='confirmPassword'
              label='Confirm password'
              :rules='confirmPasswordRules'
              type='password'
          ></v-text-field>

          <v-btn
              type='submit'
              block
              class='mt-2'
              :disabled='loading'
              :loading='loading'
              @click='loading = !loading; register()'
          >Зарегистрироваться
          </v-btn>
        </v-form>
        <div class='text-center mt-1'>
          Уже есть аккаунт? <router-link class='text-decoration-none' to='/login'>Войти</router-link>
        </div>
      </v-sheet>
    </v-row>
  </v-container>

</template>

<script>
import axios from 'axios';
import authHeader from '@/components/AuthHeader.vue'
import {routers} from '@/routes';

export default {
  name: 'login_page',
  components: {
    authHeader
  },
  data() {
    return {
      username: '',
      usernameRules: [
        value => {
          if (value?.length > 2) return true

          return 'Имя пользователя должно быть длиннее 3 символов.'
        },
      ],
      email: '',
      emailRules: [
        value => {
          if (/^[a-z.-]+@[a-z.-]+\.[a-z]+$/i.test(value)) return true

          return 'Введите корректный email'
        },
      ],
      password: '',
      passwordRules: [
        value => {
          if (value?.length > 5) return true

          return 'Пароль должен быть длиннее 5 символов'
        },
      ],
      confirmPassword: '',
      confirmPasswordRules: [
        value => {
          if (value === this.password) return true

          return 'Пароли не совпадают'
        },
      ],
      isDanger: false,
      errorMessage: '',
      loading: false,
    }
  },
  async mounted() {
    window.Telegram.WebApp.ready();
    window.Telegram.WebApp.expand();
    const id = window.Telegram.WebApp.initDataUnsafe.user.id
    this.$store.dispatch('setUserId', id);
    // this.$store.dispatch('setUserId', 200157344);
  },
  watch: {
    loading(val) {
      if (!val) return

      setTimeout(() => (this.loading = false), 2000)
    },
  },
  methods: {
    async register() {
      const userData = {
        username: this.username,
        password: this.password,
        email: this.email,
        id: this.$store.getters.getUserId
      };

      await axios.post('http://localhost:8080/api/auth/signup', userData)
          .then(response => {
            console.log(response.data);
            this.username = ''
            this.email = ''
            this.password = ''
            this.confirmPassword = ''
            routers.push('/login')
          })
          .catch(error => {
            setTimeout(() => (this.errorMessage = error.response.data.message), 2000);
            setTimeout(() => (this.isDanger = true), 2000);
            this.username = ''
            this.email = ''
            this.password = ''
            this.confirmPassword = ''
          });

    },
  }
}
</script>

<style scoped>

</style>