<template>
  <div v-if='orders.length > 0' class="cart-container">
    <div v-for='order in orders' :key='order.id' class="order-contain">
      <!-- <h3>{{ concatInfoString(order) }}</h3> -->
      <h3>№ {{ order.id }}</h3>
      <h3>{{ order.updatedAt }}</h3>
      <h3>{{ translateField(order.orderReceive) }}</h3>
      <v-container class='pa-0 ma-0'>
        <div class="order-subtitle">
          Статус: {{ translateField(order.orderStatus) }}
        </div>
      </v-container>
      <div v-for='wish in order.wishes' :key='wish.id' class="order-item-contain">
        <div>
          {{ wish.quantity }} x {{ wish.name }}
        </div>

        <div>
          {{ calculatePriceWithOptions(wish) }} ₽
        </div>
      </div>
      <v-divider class='mt-2' />
      <div v-if="order.orderReceive === 'DELIVERY'" class='delivery-contain'>
        <div>
          Доставка
        </div>

        <div>
          {{ calculateDelivery(order) }} ₽
        </div>
      </div>
    </div>
  </div>
  <v-container v-else>
    <div class="no-orders-block">
      Пока что вы не сделали заказов. <br/>
      Давайте это исправим!
    </div>
    <button @click="goMenu()" class="save-btn">В меню</button>
    </v-container>
</template>

<script>
import axios from 'axios';
import { useTheme } from 'vuetify';
import {routers} from '@/routes';

export default {
  name: 'userOrders',
  data() {
    return {
      orders: [],
      // orders: [{
      //   id: 1,
      //   orderStatus: 'NEW_ORDER',
      //   updatedAt: '12:46 21.12.23',
      //   orderReceive: 'DELIVERY',
      //   wishes: [
      //     {
      //       id: 1,
      //       quantity: 1,
      //       name: 'Бургер с котелтой',
      //       selectedOptions: [{
      //         optionCost: 15
      //       }]
      //     }
      //   ]
      // }
      // ],
      api_url: process.env.VUE_APP_API_URL
    }
  },
  async mounted() {
    window.Telegram.WebApp.ready();
    window.Telegram.WebApp.expand();
    const id = window.Telegram.WebApp.initDataUnsafe.user.id
    this.$store.dispatch('setUserId', id);
    // this.$store.dispatch('setUserId', 200157344);

    const theme = useTheme();
    theme.global.name.value = window.Telegram.WebApp.colorScheme === 'dark' ? 'dark' : 'light'

    await axios.get(`${this.api_url}/api/orders/byUser/${id}`)
      .then(response => {
        this.orders = response.data;
      })
      .catch(error => {
        console.log(error);
      })

    await axios.post(`${this.api_url}/api/statistics/collect`, {
      userId: id,
      event: 'HISTORY_CLICK'
    })
      .catch(error => console.log(error));
  },
  methods: {
    translateField(field) {
      if (field === 'DELIVERY') {
        return 'Доставка';
      }
      if (field === 'PICKUP') {
        return 'Самовывоз';
      }
      if (field === 'LOCAL') {
        return 'В заведении';
      }
      if (field === 'NEW_ORDER') {
        return 'Новый заказ'
      }
      if (field === 'COMPLETED') {
        return 'Исполнен'
      }
    },
    concatInfoString(order) {
      const deliveryName = this.translateField(order.orderReceive)
      return `№${order.id} ${order.updatedAt} ${deliveryName}`
    },

    calculateDelivery(order) {
      let wishSum = 0;
      let optionsSum = 0;

      order.wishes.forEach(wish => {
        wishSum += wish.quantity * wish.cost
        wish.selectedOptions?.forEach(option => {
          optionsSum += option.optionCost * wish.quantity;
        })
      })

      return order.price - wishSum - optionsSum;
    },

    calculatePriceWithOptions(wish) {
      let optionsSum = 0;
      wish.selectedOptions?.forEach(option => {
        optionsSum += option.optionCost;
      })

      return (wish.cost + optionsSum) * wish.quantity;
    },
    goMenu() {
      routers.push({name: 'Menu'});
    }
  },

}
</script>

<style scoped></style>