<template>
  <v-container>
    <v-row>
      <v-sheet width='300' class='mx-auto d-flex justify-space-between mb-3'>
        <v-container class='text-center pa-0'>
          <v-btn block variant='elevated'>
            <router-link class='text-decoration-none text-black' to='/login'>Вход</router-link>
          </v-btn>
        </v-container>
        <v-container class='text-center pa-0'>
          <v-btn block variant='elevated'>
            <router-link class='text-decoration-none text-black' to='/register'>Регистрация</router-link>
          </v-btn>
        </v-container>
      </v-sheet>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: 'AuthHeader'
}
</script>

<style scoped>
</style>