<template>
  <v-container class='d-flex justify-end'>

    <v-btn @click.prevent='addNewCategory'>Добавить категорию</v-btn>
  </v-container>
  <v-container v-for='category in categories' :key='category.id'>
    <v-card
        width='auto'
    >
      <v-card-title>
        {{ category.name }}
      </v-card-title>

      <v-card-subtitle>
        {{ category.description }}
      </v-card-subtitle>

      <v-card-text>
        <v-container class='py-2 px-0 d-inline-flex'>
          <v-container class='px-0 py-1 align-content-center'>Статус категории</v-container>
          <v-container class='px-0 py-1 text-end'>
            {{ category.active === true ? 'Активна' : 'Неактивна' }}
          </v-container>
        </v-container>

        <v-container class='py-2 px-0 d-inline-flex'>
          <v-container class='px-0 py-1 align-content-center'>Количество блюд</v-container>
          <v-container class='px-0 py-1 text-end'>
            {{ category.wishes.length }}
          </v-container>
        </v-container>

        <v-container class='py-2 px-0 d-inline-flex flex-wrap'>
          <v-container class='px-0 py-1 align-content-center'>
            <v-row class='justify-space-evenly align-center'>
              <v-btn @click.prevent='updateCategoryStatus(category)'>
                {{ category.active === true ? 'В архив' : 'Вернуть назад' }}
              </v-btn>
              <v-btn @click.prevent='openModal(category)' icon='$commonSetting'></v-btn>
            </v-row>
          </v-container>
        </v-container>
      </v-card-text>

      <div class='text-center'>
        <v-dialog
            v-model='showModal'
            width='500px'>
          <v-card>
            <v-card-text>
              <v-text-field
                  v-model='categoryName'
                  hide-details='auto'
                  label='Наименование'
                  class='my-1'
              ></v-text-field>
              <v-text-field
                  v-model='categoryDescription'
                  hide-details='auto'
                  label='Описание'
                  class='my-1'
              ></v-text-field>
            </v-card-text>
            <v-card-actions>
              <v-spacer/>
              <v-btn @click.prevent='updateCategory(categoryName, categoryDescription)'>Сохранить</v-btn>
              <v-btn @click.prevent='closeModal'>Выйти</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </div>

      <div class='text-center'>
        <v-dialog
            v-model='showModalToAddNewCategory'
            width='500px'>
          <v-card>
            <v-card-text>
              <v-form @submit.prevent='postCategory'>
                <v-text-field
                    v-model='newCategory.name'
                    :rules='newCategory.nameRules'
                    label='Название категории'
                    required
                ></v-text-field>
                <v-text-field
                    v-model='newCategory.description'
                    label='Описание категории'
                    required
                ></v-text-field>
                <v-select
                    v-model='newCategory.select'
                    :items='newCategory.items'
                    :rules="[v => !!v || 'Выберите статус']"
                    label='Статус'
                    required
                ></v-select>
                <v-checkbox
                    v-model='newCategory.checkbox'
                    :rules="[v => !!v || 'Подтвердите добавление новой категории']"
                    label='Добавить новую категорию?'
                    required
                ></v-checkbox>
                <div class='d-flex justify-end'>
                  <v-btn type='submit' class='mx-3'>Сохранить</v-btn>
                  <v-btn @click.prevent='closeNewCategoryModal'>Выйти</v-btn>
                </div>
              </v-form>
            </v-card-text>
          </v-card>
        </v-dialog>
      </div>
    </v-card>
  </v-container>
</template>

<script>
import api from '@/api';

export default {
  name: 'CategoryList',
  components: {},
  data() {
    return {
      api_url: process.env.VUE_APP_API_URL,
      categories: [],
      showModal: false,
      showModalToAddNewCategory: false,
      categoryDescription: '',
      categoryName: '',
      categoryId: null,
      newCategory: {
        name: '',
        nameRules: [
          v => !!v || 'Введите название категории',
          v => (v && v.length < 15) || 'Название категории должно быть короче 14 символов',
        ],
        description: '',
        isActive: false,
        select: null,
        items: [
          'Активна',
          'В архив',
        ],
        checkbox: false,
      }
    };
  },
  mounted() {
    api.get(`${this.api_url}/api/categories/all`)
        .then(response => {
          this.categories = response.data
        })
        .catch(error => {
          console.log(error);
        })
  },
  methods: {
    postCategory() {
      this.newCategory.isActive = this.newCategory.select === 'Активна';

      const data = {
        name: this.newCategory.name,
        description: this.newCategory.description,
        active: this.newCategory.isActive
      }

      if (this.newCategory.name && this.newCategory.description) {
        api.post(`${this.api_url}/api/categories`, data)
            // eslint-disable-next-line no-unused-vars
            .then(response => {
                  this.closeNewCategoryModal()
                  location.reload()
                }
            ).catch(error =>
            console.log(error));
      }
    },
    addNewCategory() {
      this.showModalToAddNewCategory = true;
    },
    openModal(category) {
      this.$store.dispatch('setSelectedCategoryModal', category);
      this.showModal = true;
    },
    closeModal() {
      this.showModal = false;
    },
    closeNewCategoryModal() {
      this.showModalToAddNewCategory = false;
    },
    updateCategory(categoryName, categoryDescription) {
      api.put(`${this.api_url}/api/categories/${this.$store.getters.getSelectedCategoryModal.id}`, {
        name: categoryName,
        description: categoryDescription,
        active: true
      })
          // eslint-disable-next-line no-unused-vars
          .then(response => {
            this.closeModal()
            location.reload()
          })
          .catch(error => {
            console.log(error);
          })
    },
    updateCategoryStatus(category) {
      api.put(`${this.api_url}/api/categories/updateStatus/${category.id}`)
          // eslint-disable-next-line no-unused-vars
          .then(response => {
            location.reload()
          })
          .catch(error => {
            console.log(error);
          })

    },
  }
}
</script>

<style scoped>

</style>