<template>
  <div class="wishes-articles-contain">
    <div class="wishes-article" v-for='wish in menu.wishes' :key='wish.id' @click='openModal(wish)'>
      <div class="wishes-article-img-contain">
        <div class="labels-contain">
          <div class="hot-label" v-if="wish.name === 'Бургер с котлетой из мраморной говядины' ||
            wish.name === 'Свиные ребра'">Острое</div>
          <div class="hit-label" v-if="wish.name === 'Чизбургер' ||
            wish.name === 'Пепперони'">Хит</div>
        </div>
        <img :src="convertInImage(wish.wishImageData)" alt="wish-image" class="wishes-article-img">
      </div>
      <div class="wishes-article-text">
        <div class="wish-name">{{ wish.name }}</div>

        <div class="wish-cost" v-if="!getCart.find(el => el.id === wish.id)" v-on:click.stop='firstIncrementQuantity(wish)'>{{
          wish.cost }} ₽</div>

        <div class="wish-quantity-buttons" v-if="getCart.find(el => el.id === wish.id)">
          <div>
            <button class="quantity-btn" v-on:click.stop='decrementQuantity(wish)'>-</button>
          </div>

          <div>
            <div class="quantity">{{ getQuantity(wish) }}</div>
          </div>

          <div>
            <button class="quantity-btn" v-on:click.stop='incrementQuantity(wish)'>+</button>
          </div>

        </div>

      </div>
    </div>

    <div class='text-center'>
      <v-dialog v-model='showModal' width='auto' persistent>
        <div class="wish-modal-contain" :class="{ 'light': color === 'light', 'dark': color === 'dark' }">
          <v-img :src='convertInImage(this.$store.getters.getSelectedWishModal.wishImageData)' class='align-end'
            gradient='to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)' height='200px' cover>
          </v-img>
          <div class="wish-modal-info-contain">
            <div class="wish-modal-name">{{ this.$store.getters.getSelectedWishModal.name }}</div>
            <div class='wish-modal-description'>{{ this.$store.getters.getSelectedWishModal.description }}</div>

            <div class="options-contain" v-if="this.$store.getters.getSelectedWishModal.wishOptions.length > 0">
              <div class="category-btn-contain">
                <button @click.prevent='showOptions'
                  :class="{ 'category-btn': selectedOptions.length <= 0, 'selected-category-btn': selectedOptions.length > 0 }">
                  {{ selectedOptions.length > 0 ? selectedOptions[0].optionName : 'Дополнительно' }}
                </button>
                <DownSVGComponent v-if="!optionsDropdownShow" class="violet" />
                <UpSVGComponent v-if="optionsDropdownShow" class="violet" />
              </div>
              <div :class="{ 'category-dropdown': optionsDropdownShow, 'hidden': !optionsDropdownShow }">
                <div v-for='option in items' :key='option' v-on:click="addSelectedOption(option)" class="option-item">
                  {{ option.optionName }}
                  <div class="option-cost">+ {{ option.optionCost }} ₽</div>
                </div>
              </div>
            </div>

            <wish-actions :selectedOptions='selectedOptions' :wish='this.$store.getters.getSelectedWishModal' />
          </div>
          <div>
            <button block @click='closeModal' class="save-btn">Выйти</button>
          </div>
        </div>
      </v-dialog>
    </div>
  </div>
</template>

<script>
import WishActions from '@/components/WishActions.vue';
import DownSVGComponent from '@/images/DownSVGComponent.vue';
import UpSVGComponent from '@/images/UpSVGComponent.vue';

export default {
  name: 'Category-component',
  components: {
    WishActions,
    DownSVGComponent, UpSVGComponent
  },
  data() {
    return {
      showModal: false,
      items: [],
      selectedOptions: [],
      optionsDropdownShow: false,
      costElement: 'cost',
      color: 'light'
    }
  },
  props: {
    menu: {
      type: Object,
      required: true
    },
  },
  computed: {
    getCart() {
      return this.$store.getters.getCart
    },
  },
  mounted() {
    window.Telegram.WebApp.ready();
    this.color = window.Telegram.WebApp.colorScheme === 'dark' ? 'dark' : 'light'
  },
  methods: {
    convertInImage(data) {
      return 'data:image/jpg;base64,' + data;
    },
    openModal(selectedWishModal) {
      this.$store.dispatch('setSelectedWishModal', selectedWishModal);
      this.items = selectedWishModal.wishOptions
      this.showModal = true;
    },
    firstIncrementQuantity(wish) {
      const selectedWish = this.getCart.find(el => el.id === wish.id)
      if (!selectedWish) {
        if (wish.wishOptions.length <= 0) {
          this.$store.dispatch('incrementQuantity', wish)
        } else {
          this.$store.dispatch('setSelectedWishModal', wish);
          this.items = wish.wishOptions
          this.showModal = true;
        }
      }
    },
    itemProps(item) {
      return {
        title: item.optionName,
        subtitle: `+${item.optionCost} ₽`,
      }
    },
    closeModal() {
      this.selectedOptions = []
      this.showModal = false;
    },
    showOptions() {
      this.optionsDropdownShow = !this.optionsDropdownShow
    },
    addSelectedOption(option) {
      this.selectedOptions.push(option)
    },
    getQuantity(wish) {
      const wishQuantity = this.getCart.find(el => el.id === wish.id).quantity
      return wishQuantity
    },
    incrementQuantity(wish) {
      this.$store.dispatch('incrementQuantity', wish);
    },
    decrementQuantity(wish) {
      this.$store.dispatch('decrementQuantity', wish);
    },
  }
}
</script>

<style scoped></style>