<template>
  <div class='header-items' ref='menuContainer' role='group'
    :class="{ 'header-light': backgroundColor === 'light', 'header-dark': backgroundColor === 'dark' }">
    <button v-for='(category, index) in getCategoryNames' :key='category.id' class="menu-title-btn"
      :class="{ 'active-title': index === activeCategoryIndex, [classes.find(el => el.name === category.categoryName).code]: true }"
      :data-category-id='category.id' :id="'header-btn-' + index" @click='scrollToCategory(category.id)'>
      {{ category.categoryName }}
    </button>
  </div>
</template>

<script>
import { useTheme } from 'vuetify';

export default {
  name: 'Menu-header',
  data() {
    return {
      selectedCategoryId: '',
      activeCategoryIndex: 0,
      isScrollable: false,
      menuOffset: 0,
      backgroundColor: 'light',
      classes: [
        { code: 'burgers', name: 'Бургеры' },
        { code: 'main-dishes', name: 'Основные блюда' },
        { code: 'drinks', name: 'Напитки' },
        { code: 'pizza', name: 'Пицца' },
        { code: 'snacks', name: 'Закуски' }
      ]
    };
  },
  computed: {
    getCategoryNames() {
      return this.$store.getters.getCategoryNames
    },
  },
  methods: {
    scrollToCategory(categoryId) {
      const categoryElement = document.getElementById(categoryId);
      if (categoryElement) {
        const topOffset = document.querySelector('.menu-container').offsetHeight;
        const elementPosition = categoryElement.getBoundingClientRect().top;
        const offsetPosition = elementPosition - topOffset;

        document.querySelector('.menu-container').scrollBy({
          top: offsetPosition + topOffset - 70,
          behavior: 'smooth'
        });

        this.selectedCategoryId = categoryId;
      }
    },
    updateActiveCategory() {
      const menuContainer = this.$refs.menuContainer;
      if (!menuContainer) return;

      const buttons = menuContainer.querySelectorAll('.menu-title-btn');
      let activeIndex = -1;

      for (let i = 0; i < buttons.length; i++) {
        const categoryElement = document.getElementById(buttons[i].dataset.categoryId);
        if (!categoryElement) continue;

        const rect = categoryElement.getBoundingClientRect();
        if (rect.top <= window.innerHeight / 2 && rect.top > 0
          && rect.top < (window.innerHeight / 2 - 100) && rect.height !== 0) {
          activeIndex = i;
          const headerBtn = document.getElementById(`header-btn-${i}`)
          headerBtn.scrollIntoView({ behavior: 'smooth', inline: "center" })
          this.activeCategoryIndex = activeIndex;
        }
      }
    },
  },
  mounted() {
    window.Telegram.WebApp.ready();
    const theme = useTheme();
    theme.global.name.value = window.Telegram.WebApp.colorScheme === 'dark' ? 'dark' : 'light'
    this.backgroundColor = window.Telegram.WebApp.colorScheme === 'dark' ? 'dark' : 'light'

    document.querySelector('.menu-container').addEventListener('scroll', this.updateActiveCategory);
    this.$nextTick(() => {
      this.isScrollable = this.$refs.menuContainer.scrollWidth > this.$refs.menuContainer.clientWidth;
    });
  },
  beforeUnmount() {
    window.removeEventListener('scroll', this.updateActiveCategory);
  },
}
</script>

<style scoped></style>