<template>
  <v-container class='d-block flex-wrap pa-2'>
    <v-container class='d-flex justify-center flex-wrap px-0'>
      <v-data-table
          :headers='headers'
          :items='orders'
          class='elevation-1'
      >
        <template v-slot:item='{ item }'>
          <tr>
            <td @click.prevent='pushToUserOrderCard(item.columns.id)'>{{ item.columns.id }}</td>
            <td @click.prevent='pushToUserOrderCard(item.columns.id)'>{{ item.columns.userId }}</td>
            <td @click.prevent='pushToUserOrderCard(item.columns.id)'>{{ item.columns.createdAt }}</td>
            <td @click.prevent='pushToUserOrderCard(item.columns.id)'>{{ translateField(item.columns.orderStatus) }}</td>
            <td @click.prevent='pushToUserOrderCard(item.columns.id)'>{{ item.columns.tableNumber }}</td>
            <td @click.prevent='pushToUserOrderCard(item.columns.id)'>{{ item.columns.price }}</td>
            <td @click.prevent='pushToUserOrderCard(item.columns.id)'>{{ translateField(item.columns.paymentMethod) }}</td>
          </tr>
        </template>
      </v-data-table>
    </v-container>
  </v-container>
</template>
<script>
import {VDataTable} from 'vuetify/labs/VDataTable'

import api from '@/api';
export default {
  name: 'OrdersTable',
  components: {
    VDataTable
  },
  data() {
    return {
      api_url: process.env.VUE_APP_API_URL,
      headers: [
        {title: '#', key: 'id'},
        {title: 'ID клиента', key: 'userId'},
        {title: 'Время создания', key: 'createdAt'},
        {title: 'Статус', key: 'orderStatus'},
        {title: 'Столик', key: 'tableNumber'},
        {title: 'Сумма', key: 'price'},
        {title: 'Столик', key: 'tableNumber'},
        {title: 'Способ оплаты', key: 'paymentMethod'},
      ],
      orders: []
    }
  },
  mounted() {
    api.get(`${this.api_url}/api/orders`)
        .then(response => {
          this.orders = response.data
        })
        .catch(error => {
          console.log(error)
        })
  },
  methods: {
    translateField(field) {
      if (field === 'CARD') {
        return 'Карта';
      }else if (field === 'ONLINE') {
        return 'Онлайн';
      }else if (field === 'CASH') {
        return 'Наличные';
      }else if (field === 'NEW_ORDER') {
        return 'Новый';
      }else if (field === 'COMPLETED') {
        return 'Исполнен';
      }
    },
    pushToUserOrderCard(id) {
      this.$emit('pushToUserOrderCard', id)
    },
  }
}
</script>

<style scoped>

</style>