<template>
  <v-container class='d-block flex-wrap pa-0'>
    <v-divider class='mt-6'/>
    <v-container>
      <b>Клиент: {{ username }}</b>
    </v-container>
    <v-container class='py-2 d-inline-flex'>
      <v-container class='px-0 py-1 align-content-center'>Время создания</v-container>
      <v-container class='px-0 py-1 text-end'>
        {{ orderCreationDate }}
      </v-container>
    </v-container>
    <v-divider/>
    <v-container class='py-2 d-inline-flex'>
      <v-container class='px-0 py-1 align-content-center'>Статус</v-container>
      <v-container class='px-0 py-1 text-end'>
        <template v-if='orderStatus === "Новый"'>
          <select size='1' v-model='orderStatus'>
            <option>{{ orderStatus }}</option>
            <option>Исполнен</option>
          </select>
        </template>
        <template v-else>
          {{ orderStatus }}
        </template>
      </v-container>
    </v-container>
    <v-divider/>
    <v-container class='py-3 d-inline-flex'>
      <v-container class='px-0 py-1 align-content-center'>Сумма заказа</v-container>
      <v-container class='px-0 py-1 text-end'>
        {{ orderPrice }} ₽
      </v-container>
    </v-container>
    <v-divider/>
  </v-container>
  <v-container class='d-block flex-wrap pa-2'>
    Товары <b>{{ orderWishes.length }}</b>
    <v-container class='d-inline-flex justify-space-between flex-wrap px-2' v-for='wish in orderWishes' :key='wish.id'>
      <v-card>
        <v-img
            :src='convertInImage(wish.wishImageData)'
            class='align-end'
            gradient='to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)'
            height='auto'
            cover
        >
        </v-img>
        <v-card-text>
          <v-container class='pa-0 ma-0'>
            <v-row class='pa-0 ma-0'>
              <v-col cols='12' class='pa-0 ma-1 text-center'>{{ wish.name }}</v-col>
            </v-row>
            <v-row class='pa-0 ma-0'>
              <v-col cols='12' class='pa-0 ma-1 text-center'> {{ wish.cost }} ₽</v-col>
            </v-row>
            <v-row class='pa-0 ma-0'>
              <v-col cols='12' class='pa-0 ma-1 text-center'> {{ wish.quantity }} шт</v-col>
            </v-row>
          </v-container>
        </v-card-text>
      </v-card>
    </v-container>
  </v-container>
</template>

<script>
import api from '@/api';

export default {
  name: 'UserOrderCard',
  components: {},
  props: {
    id: {
      type: Number,
      required: true
    }
  },
  data() {
    return {
      api_url: process.env.VUE_APP_API_URL,
      username: '',
      orderCreationDate: '',
      orderStatus: '',
      orderPrice: null,
      orderWishes: [],
      isOrderCompleted: false,
      userId: null
    }
  },
  mounted() {
    api.get(`${this.api_url}/api/orders/${this.id}`)
        .then(response => {
          this.orderCreationDate = response.data.createdAt;
          this.orderStatus = this.translateField(response.data.orderStatus);
          this.orderPrice = response.data.price;
          this.orderWishes = response.data.wishes;
          this.userId = response.data.userId;
          api.get(`${this.api_url}/api/users/${Number(response.data.userId)}`)
              .then(userData => {
                this.username = userData.data.name;
              })
              .catch(error => {
                console.log(error);
              })
        })
        .catch(error => {
          console.log(error)
        })
  },
  watch: {
    orderStatus(value) {
      if (value === 'Исполнен') {
        api.put(`${this.api_url}/api/orders/${this.id}`)
            .catch(error => {
              console.log(error)
            });
      }
    },
  },
  methods: {
    translateField(field) {
      if (field === 'CARD') {
        return 'Карта';
      } else if (field === 'ONLINE') {
        return 'Онлайн';
      } else if (field === 'CASH') {
        return 'Наличные';
      } else if (field === 'NEW_ORDER') {
        return 'Новый';
      } else if (field === 'COMPLETED') {
        return 'Исполнен';
      }
    },
    convertInImage(data) {
      return 'data:image/jpg;base64,' + data;
    },
  },

}
</script>


<style scoped>

</style>