<template>
  <v-container class='d-flex justify-center flex-wrap px-0'>
    <v-card>
      <v-card-title>
        Имя
        <v-spacer></v-spacer>
        <v-text-field
            v-model='search'
            append-icon='$search'
            label='Search'
            single-line
            hide-details
        ></v-text-field>
      </v-card-title>
      <v-data-table
          v-model:sort-by='sortBy'
          :headers='headers'
          :items='users'
          :search='search'
          class='elevation-1'
      >
        <template v-slot:item='{ item }'>
          <tr>
            <td @click.prevent='setUserId(item.columns.id)'>{{ item.columns.id }}</td>
            <td @click.prevent='setUserId(item.columns.id)'>{{ item.columns.name }}</td>
            <td @click.prevent='setUserId(item.columns.id)'>{{ item.columns.registrationDate }}</td>
            <td @click.prevent='setUserId(item.columns.id)'>{{ item.columns.phoneNumber }}</td>
            <td @click.prevent='setUserId(item.columns.id)'>{{ item.columns.status }}</td>
            <td @click.prevent='setUserId(item.columns.id)'>{{ item.columns.quantity }}</td>
            <td @click.prevent='setUserId(item.columns.id)'>{{ item.columns.sum }}</td>
          </tr>
        </template>
      </v-data-table>
    </v-card>
  </v-container>
</template>

<script>
import api from '@/api';
import {VDataTable} from 'vuetify/labs/VDataTable';

export default {
  name: 'usersTable',
  components: {
    VDataTable
  },
  data() {
    return {
      api_url: process.env.VUE_APP_API_URL,
      search: '',
      sortBy: [{key: 'name', order: 'asc'}],
      headers: [
        {
          title: 'ID клиента',
          align: 'start',
          sortable: false,
          key: 'id',
        },
        {title: 'Имя', key: 'name'},
        {title: 'Дата рег.', key: 'registrationDate'},
        {title: 'Телефон', key: 'phoneNumber'},
        {title: 'Статус', key: 'status'},
        {title: 'Заказов', key: 'quantity'},
        {title: 'Сумма', key: 'sum'},
      ],
      users: []
    }
  },
  methods: {
    setUserId(item) {
      this.$store.dispatch('setSelectedUserId', item);
      this.$emit('getSelectedUserId', item)
    },
  },
  mounted() {
    api.get(`${this.api_url}/api/admin`)
        .then(response => {
          this.users = response.data;
        })
        .catch(error => {
          console.log(error)
        })
  }
}
</script>

<style scoped>

</style>