<template>
  <v-container class='d-block flex-wrap pa-0'>
    <v-container class='px-4 py-2'>
      <v-btn @click.prevent='pushBack()' icon="$arrow" size="small"></v-btn>
    </v-container>
    <v-divider/>
    <v-container class='py-2 d-inline-flex'>
      <v-container class='px-0 py-1 align-content-center font-weight-bold'> {{ username }}</v-container>
      <v-container class='px-0 py-1 text-end'>
        <v-btn @click='changeUserStatus()' density='compact' variant='outlined' color='red'>
          {{ isBlocked ? 'Разблокировать' : 'Заблокировать' }}
        </v-btn>
      </v-container>
    </v-container>
    <v-container class='py-2 d-inline-flex'>
      <v-container class='px-0 py-1 align-content-center'>Дата регистрации</v-container>
      <v-container class='px-0 py-1 text-end'>
        {{ registrationDate }}
      </v-container>
    </v-container>
    <v-divider/>
    <v-container class='py-2 d-inline-flex'>
      <v-container class='px-0 py-1 align-content-center'>Телефон</v-container>
      <v-container class='px-0 py-1 text-end'>
        {{ phoneNumber }}
      </v-container>
    </v-container>
    <v-divider/>
    <v-container class='py-3 d-inline-flex'>
      <v-row>
        <v-col cols='6'>Бонусы</v-col>
        <v-col cols='6' class='d-inline-flex justify-end'>
          <input v-model='bonus' size='1'>
          <v-btn @click='changeUserBonuses()' density='compact' variant='outlined'>+</v-btn>
        </v-col>
      </v-row>
    </v-container>
    <v-divider/>
  </v-container>
  <v-container class='d-block flex-wrap pa-2'>
    Заказы <b>{{ orders.length }}</b>
    <v-container class='d-flex justify-center flex-wrap px-0'>
      <v-data-table
          :headers='headers'
          :items='orders'
          class='elevation-1'
      >
        <template v-slot:item='{ item }'>
          <tr>
            <td>{{ item.columns.createdAt }}</td>
            <td>{{ translateField(item.columns.orderStatus) }}</td>
            <td>{{ item.columns.price }}</td>
            <td>{{ translateField(item.columns.paymentMethod) }}</td>
            <td>{{ translateField(item.columns.orderReceive) }}</td>
            <td>{{ item.columns.tableNumber }}</td>
            <td>{{ item.columns.deliveryAddress }}</td>
          </tr>
        </template>
      </v-data-table>
    </v-container>
  </v-container>
</template>

<script>
import {VDataTable} from 'vuetify/labs/VDataTable'

import api from '@/api';

export default {
  name: 'Test_page',
  components: {
    VDataTable
  },
  data() {
    return {
      api_url: process.env.VUE_APP_API_URL,
      bonus: 500,
      phoneNumber: '',
      username: '',
      registrationDate: '',
      isBlocked: false,
      headers: [
        {title: 'Время создания', key: 'createdAt'},
        {title: 'Статус', key: 'orderStatus'},
        {title: 'Сумма', key: 'price'},
        {title: 'Способ оплаты', key: 'paymentMethod'},
        {title: 'Способ доставки', key: 'orderReceive'},
        {title: 'Столик', key: 'tableNumber'},
        {title: 'Адрес доставки', key: 'deliveryAddress'},
      ],
      orders: []
    }
  },
  methods: {
    changeUserStatus() {
      const userId = Number(this.$store.getters.getSelectedUserId);
      api.put(`${this.api_url}/api/admin/block/${userId}`)
          .then(response => {
            if (response.data === 'ACTIVE') {
              this.isBlocked = false;
            } else if (response.data === 'BLOCKED') {
              this.isBlocked = true;
            }
          })
          .catch(error => {
            console.log(error);
          })
    },
    changeUserBonuses() {
      const userId = Number(this.$store.getters.getSelectedUserId);
      api.put(`${this.api_url}/api/admin/bonus/${userId}`, {'quantity': this.bonus})
          .then(response => {
            if (response.status === 200) {
              this.bonus = 500;
            }
          })
          .catch(error => {
            console.log(error);
          })
    },
    translateField(field) {
      if (field === 'PICKUP') {
        return 'Самовывоз';
      } else if (field === 'DELIVERY') {
        return 'Доставка';
      } else if (field === 'LOCAL') {
        return 'В заведении';
      } else if (field === 'CARD') {
        return 'Карта';
      }else if (field === 'ONLINE') {
        return 'Онлайн';
      }else if (field === 'CASH') {
        return 'Наличные';
      }else if (field === 'NEW_ORDER') {
        return 'Новый';
      }else if (field === 'COMPLETED') {
        return 'Исполнен';
      }
    },
    pushBack() {
      this.$emit('pushBack')
    },
  },
  mounted() {
    const userId = this.$store.getters.getSelectedUserId;
    api.get(`${this.api_url}/api/orders/byUser/${userId}`)
        .then(response => {
          this.orders = response.data;
          this.phoneNumber = this.orders?.at(this.orders.length - 1).phoneNumber
        })
        .catch(error => {
          console.log(error)
        })

    api.get(`${this.api_url}/api/users/${userId}`)
        .then(response => {
          this.username = response.data.name;
          this.registrationDate = response.data.registrationDate
          this.isBlocked = !(response.data.status === 'ACTIVE' || response.data.status === 'INACTIVE');
        })
        .catch(error => {
          console.log(error)
        })
  }

};
</script>

<style scoped>

</style>