<template>
  <template v-if='getQuantity(wish) === 0'>
    <button block class='save-btn' @click='selectWish(wish)'>
      Добавить<br /> {{ wish.cost }} ₽
    </button>
  </template>
  <template v-else>
    <v-container>
      <v-row justify='center' align='center'>
        <v-col cols='5'>
          <button class="save-btn" @click='decrementQuantity(wish)'>-</button>
        </v-col>

        <v-col cols='2'>
          <div class="quantity">{{ getQuantity(wish) }}</div>
        </v-col>

        <v-col cols='5'>
          <button class="save-btn" @click='incrementQuantity(wish)'>+</button>
        </v-col>
      </v-row>
      <v-row justify='center' align='center'>
        <v-col cols='auto'>
          <button class="actions-btn" block v-if='getQuantity(wish) > 0' @click='removeWish(wish)'>Удалить</button>
        </v-col>

      </v-row>
      <v-row justify='center' align='center'>
        <v-col cols='auto'>
          <button class="actions-btn" block @click='goCart'>
            В корзину
          </button>
        </v-col>
      </v-row>
    </v-container>
  </template>
</template>

<script>
import { routers } from '@/routes';

export default {
  name: 'WishActions',
  props: {
    wish: {
      type: Object,
      required: true
    },
    selectedOptions: {
      type: Array,
      required: false
    }
  },
  methods: {
    getQuantity(wish) {
      return this.$store.state.selectedWishes[wish.id] || 0;
    },
    incrementQuantity(wish) {
      wish.selectedOptions = this.selectedOptions
      this.$store.dispatch('incrementQuantity', wish);
    },
    decrementQuantity(wish) {
      wish.selectedOptions = this.selectedOptions
      this.$store.dispatch('decrementQuantity', wish);
    },
    removeWish(wish) {
      this.$store.dispatch('removeWish', wish);
    },
    selectWish(wish) {
      this.incrementQuantity(wish);
    },
    goCart() {
      routers.push({ name: 'Cart' })
      var BackButton = window.Telegram.WebApp.BackButton;
      BackButton.show();
      BackButton.onClick(function () {
        routers.go(-1)
        BackButton.hide();
      });
    },
  }
}
</script>

<style scoped></style>