@use 'vuetify' with (
    $font-size-root: 18px,
    $body-font-family: "Mont",
);
button,
input,
optgroup,
select,
textarea,
label,
.v-field__input,
.v-messages__message {
    font-family: 'Mont';
}

html {
    overflow: hidden !important
}

@import "./styles/mont.scss";

@import "./styles/login.scss";
@import "./styles/profile.scss";
@import "./styles/header.scss";
@import "./styles/category.scss";
@import "./styles/cart.scss";
@import "./styles/contacts.scss";
@import "./styles/order.scss";
@import "./styles/userOrders.scss";
